<hr>
<!-- providerIn root -->
<h1> providedIn: 'root' </h1>
<pre><code [highlight]="providedInRoot"></code></pre>

<hr>
<!-- providerIn NgModule -->
<h1> providedIn: NgModule </h1>
<div>
    <pre><code [highlight]="providerInNgModuleServiceCode"></code></pre>
    <pre><code [highlight]="providerInNgModuleResolveModuleCode"></code></pre>
    <pre><code [highlight]="providerInNgModuleModuleCode"></code></pre>
</div>


<hr>
<!-- 组件级注入器 -->
<h1> 组件级注入器 </h1>
<div>
    <pre><code [highlight]="componentServiceCode"></code></pre>
    <pre><code [highlight]="componentCode"></code></pre>
</div>
